<link rel="stylesheet" type="text/css" href="lib/Ionicons/css/ionicons.css">
<link rel="stylesheet" type="text/css" href="css/acr.css">
<body ng-app="starter" ng-controller="acrCtrl">
	<ion-header-bar align-title="left" class="bar customcolor" style="border-bottom:0px;" >
          <div class="buttons">
            <button class="button button-clear" ng-click="goMain()" style="font-size:30px;color:white;"><i class='ion-arrow-left-c'></i></button>
          </div>
          <h4 style ="margin-left:10px;color:white;"> Nopadol Sooktieb </h4>
          <div class="buttons" style="margin-left:100px;">
          <button class="button button-clear" style="font-size:30px;color:white;"><i class='ion-android-share-alt'></i></button>
          </div>

    </ion-header-bar>
    <div class="routeinfo">
    		
           
           <h4 style="padding-top:120px;font-size:15px;padding-bottom:10px;"align="center"></h4>
     </div >
     
          <li style="border-top:0px;"class="item item-avatar" >
              
              <img ng-src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/12122503_10201223200179799_8619187008466536527_n.jpg?oh=5be0a693f71fe41868e1608f8e372e55&oe=57208040&__gda__=1457570581_cb95e73db6cbe2d50d9bc28f011969c7"style="margin-top:-10px;">
               <p style="margin-top:-20px;padding-left:70px;color:green; font-size:15px;"><i class='ion-arrow-right-b'></i>
                  <span style="padding-left:2px; color:black; font-size:15px;">RNP</span></p>
                  <p style="padding-left:80px; font-size:12px;">Ladkrabang, Bangkok</p>
               <p style="padding-left:70px;color:red; font-size:15px;"><i class='ion-arrow-right-b'></i>
                   <span style="padding-left:2px; color:black; font-size:15px;">IT KMITL</span></p>
                <p style="padding-left:80px; font-size:12px;">Ladkrabang, Bangkok</p>
                 <button class="button button-clear" ng-click="addnameroutes()" style="margin-top:-70px;margin-left:290px;font-size:20px;color:black;" ng-click="addnameroutesw()"><i class='ion-chevron-right'></i></button>
          </li>
         
     </div>
     

     <div class="row">
     	  <div class="col-33">
     	  	<h4 style="margin-top:5px;font-size:15px;padding-bottom:10px;"align="center">Distance</h4>
     	  	<h4 style="margin-top:5px;font-size:15px;padding-bottom:10px;"align="center">3 km</h4>
     	  </div>
     	  <div class="col-33">
     	  	<h4 style="margin-top:5px;font-size:15px;padding-bottom:10px;"align="center">Time</h4>
     	  	<h4 style="margin-top:5px;font-size:15px;padding-bottom:10px;"align="center">10 m</h4>
     	  </div>
     	  <div class="col-33">
     	  	<h4 style="margin-top:5px;font-size:15px;padding-bottom:10px;"align="center">Avg.Speed</h4>
     	  	<h4 style="margin-top:5px;font-size:15px;padding-bottom:10px;"align="center">3.3 km/h</h4>
     	  </div>
     </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    

     <ion-footer-bar class="bar bar-footer bar-balanced customfooter">
	  <label class="item item-input" style="background-color: #9E9E9E !important;border:0px;width:90%;height:auto;">
    	<input type="text" placeholder="Message">
  	  </label>
  	  <button class="button button-clear" style="font-size:30px;color:white;"><i class='ion-android-send'></i></button>
	</ion-footer-bar>
     
</body>