<link rel="stylesheet" type="text/css" href="css/alert.css">
<link rel="stylesheet" type="text/css" href="lib/Ionicons/css/ionicons.css">
<body ng-app = "starter" ng-controller="alertCtrl">
	<ion-header-bar align-title="left" class="bar customcolor" style="border-bottom:0px;" >
          <div class="buttons">
            <button class="button button-clear" ng-click="goMain()" style="font-size:30px;color:white;"><i class='ion-arrow-left-c'></i></button>
          </div>
          <h4 style ="margin-left:10px;color:white;"> Alert Notification </h4>

    </ion-header-bar>
    <div>
    	<h1 style="margin-left:110px;margin-top:70px;font-size:120px;">60</h1>
    </div>
    <div>
    	<button class="button button-positive custombtn"  style="font-size:30px;color:white;"><i class='ion-android-call'></i> CALL XXXX</button>
    	<button class="button button-positive custombtn"  style="font-size:30px;color:white;"><i class='ion-android-list'></i> CONTACT</button>
    	<button class="button button-positive custombtn1"  style="font-size:30px;color:white;" ng-click="toAlertSystem()">I'm OKAY</button>
    </div>
    
</body>