<link rel="stylesheet" type="text/css" href="css/settingstyle.css">
<link rel="stylesheet" type="text/css" href="lib/Ionicons/css/ionicons.css">
<body ng-app="starter" ng-controller="groupCtrl">
	<ion-header-bar align-title="left" class="bar customcolor" style="border-bottom:0px;" >
          <div class="buttons">
            <button class="button button-clear" ng-click="goMain()" style="font-size:30px;color:white;"><i class='ion-arrow-left-c'></i></button>

          </div>
          <h4 style ="margin-left:10px;color:white;"> IT KMITL </h4>
            <button class="button button-clear" ng-click="popover.show($event)" style="margin-left:220px;font-size:25px;color:white;"><i class='ion-android-more-vertical'></i></button>
     </ion-header-bar>
     <div class="list">
 			<li class="item item-avatar" >

              <img ng-src="http://www.uppic.org/thumb-9B51_566BD6A2.jpg">
              <div class="row">
                <div class="col-90">
                    <h4 style="padding-left:60px;font-size:14px;">IT KMITL </h4>
                    <p style="padding-left:60px;">กลุ่มคนปั่นจักรยานแห่งคณะแห่งไอที</p>
                </div>
                <div class="col-10">
                    <button ng-click="addclick()" class="button button-clear button-positive" style="margin-left:-5px;font-size:20px;color:{{btncolor}};"ng-disabled="{{buttonDisable}}">
                    <i class='{{buttonType}}'></i></button>
                </div>
              </div>
            </li>
            <a class="item" href="">
            	<h4 style="font-size:15px;">Member</h4>
            </a>
             <a class="item" href="">
            	<h4 style="font-size:15px;">Event</h4>
            </a>
       </div>
</body>