<link rel="stylesheet" type="text/css" href="css/rca.css">
<link rel="stylesheet" type="text/css" href="lib/Ionicons/css/ionicons.css">
<body ng-app="starter" ng-controller="settingCtrl">
	<ion-header-bar align-title="left" class="bar customcolor" style="border-bottom:0px;" >
          <div class="buttons">
            <button class="button button-clear" ng-click="goMain()" style="font-size:30px;color:white;"><i class='ion-arrow-left-c'></i></button>
          </div>
          <h4 style ="margin-left:10px;color:white;"> Recent Activites </h4>
     </ion-header-bar>
          <ion-scroll direction="y" style="height: 100%">
             <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher>
          <div class="list">
            <a style="padding-bottom:0px;"class="item item-avatar" ng-click="goacr()" >
              
              <img ng-src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/12122503_10201223200179799_8619187008466536527_n.jpg?oh=5be0a693f71fe41868e1608f8e372e55&oe=57208040&__gda__=1457570581_cb95e73db6cbe2d50d9bc28f011969c7">
              <div class="row">
                <div class="col-90">
                    <h4 style="padding-left:60px;">Nopadol Sooktieb</h4>
                    <p style="padding-left:60px;"> ปั่นไปคณะดีกว่า </p>
                </div>
                <div class="col-10">
                                       <p style="margin-top:-10px;font-size:10px;">17.23</p>
                </div>
              </div>
              <div class="row" style="padding-top:10px; margin-left:-9px;">
                <div class="col">
                  <p style="color:green; font-size:15px;"><i class='ion-arrow-right-b'></i>
                  <span style="padding-left:2px; color:black; font-size:15px;">RNP</span></p>
                  <p style="padding-left:12px; font-size:12px;">Ladkrabang, Bangkok</p>

                </div>
                <div class="col">
                   <p style="color:red; font-size:15px;"><i class='ion-arrow-right-b'></i>
                   <span style="padding-left:2px; color:black; font-size:15px;">IT KMITL</span></p>
                   <p style="padding-left:12px; font-size:12px;">Ladkrabang, Bangkok</p>
                </div>
              </div>
          </a>
             </div>
         </ion-scroll>
</body>
