<link rel="stylesheet" type="text/css" href="css/routestyle.css">
<link rel="stylesheet" type="text/css" href="lib/Ionicons/css/ionicons.css">
<body ng-app="starter" ng-controller="routeCtrl">
	<ion-header-bar align-title="left" class="bar customcolor" style="border-bottom:0px;" >
          <div class="buttons">
            <button class="button button-clear" ng-click="goMain()" style="font-size:30px;color:white;"><i class='ion-arrow-left-c'></i></button>
          </div>
          <h4 style ="margin-left:10px;color:white;"> Route </h4>

    </ion-header-bar>
	   <div class="list list-inset">
		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Search">
		  </label>
		</div>
		<div class="list">
		  <a class="item" ng-click="gorank()">
		  	Sky Lane Suwannabumi  
		  </a>
		  <a class="item" href="#">
		    Jatujak Park
		  </a>
		  <a class="item" href="#">
		    Lumpini Park
		  </a>
		  <a class="item" href="#">
		    Pattaya Park
		  </a>
		</div>
</body>