<link rel="stylesheet" type="text/css" href="css/settingstyle.css">
<link rel="stylesheet" type="text/css" href="lib/Ionicons/css/ionicons.css">
<body ng-app="starter" ng-controller="settingCtrl">
	<ion-header-bar align-title="left" class="bar customcolor" style="border-bottom:0px;" >
          <div class="buttons">
            <button class="button button-clear" ng-click="goMain()" style="font-size:30px;color:white;"><i class='ion-arrow-left-c'></i></button>
          </div>
          <h4 style ="margin-left:10px;color:white;"> Setting </h4>

    </ion-header-bar>
    	<ion-scroll direction="y" style="height: 100%">
    	<div class="list">

		  <div class="item item-divider">
		   	Profile
		  </div>

		  <a class="item item-avatar" href="#">
		    <img ng-src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/12122503_10201223200179799_8619187008466536527_n.jpg?oh=5be0a693f71fe41868e1608f8e372e55&oe=57208040&__gda__=1457570581_cb95e73db6cbe2d50d9bc28f011969c7">
		  </a>
		  <a class="item" href="#">
		    Username 
		  </a>
		  <a class="item" href="#">
		    Password
		  </a>
		  <a class="item" href="#">
		    E-mail
		  </a>
		  <a class="item" href="#">
		    Address
		  </a>
		  
		  <div class="item item-divider">
		   	Social network
		  </div>
		  <a class="item" href="#">
		    Facebook 
		  </a>
		  <a class="item" href="#">
		    Twitter
		  </a>
		  <a class="item" href="#">
		    Google Plus
		  </a>

		  <div class="item item-divider">
		   	Device 
		  </div>
		  <a class="item" href="#">
		    Mqtt broker
		  </a>
		  <a class="item" href="#">
		    Topic 1
		  </a>
		  <a class="item" href="#">
		    Topic 2
		  </a>
		  <a class="item" href="#">
		    Topic 2
		  </a>

		</div>

	</ion-scroll>

</body>