body {
  background-color: white !important;  
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.customcolor{
 	background-color: #009688 !important;
    background-size: 100% 0px;
    position: relative;
    height: 49px;
    box-shadow: 0px 2px 7px #616161; 
    z-index: 9;
}
.custombtn{
	margin-top: 10%;
	margin-left: 20%;
	background: #009688 !important;
	background-size: 100% 0px;
	border:0px;
	width: 220px;
}
.custombtn1{
	margin-top: 20%;
	margin-left: 20%;
	background: #FF5722 !important;
	background-size: 100% 0px;
	border:0px;
	width: 220px;
}
.custombtn2{
	background-color: #FF9800 !important;
	background-size: 100% 0px;
	border:0px;
}
#map {
  width: 100%;
  height: 30%;
  z-index: 100;
}

.scroll {
  height: 100%;
}
.float-buttons {
background-color:#00BCD4;
opacity: 0.9;
color: white;
text-shadow: 1px 1px #9E9E9E;
border-radius: 50%;
/*border-radius:15% 0 0 0;*/
width: 0px;
padding: 30px;
font-size: 40px;
position: absolute;
top : 25%; /* Adjust height */
right: 0.5em; /* Adjust position */
z-index: 999;
}
 
.float-buttons .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}
 
.float-buttons .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}
.profile{
	background-color: #009688 !important;
	height: 150px;
}
.customfooter{
	bottom: 0px;
	position: fixed;
	background-color: #9E9E9E !important;
    background-size: 100% 0px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #636363 !important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #636363 !important;
}